
$primary-font: 'Nunito Sans', sans-serif;
$title-font: 'Nunito Sans', sans-serif;

$counter-font: 'Poppins', sans-serif;

$body-bg: #fff;

/** Színek */
$yellow: #f2d22f;
$black: #030303;
$grey: #667478;
$white: #fff;
$light-grey: #f6f6f6;

