.downloads {
    background-color: #232222;
    padding: 30px 0;    
   
    .container { 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    figure {
        img {
            height: 80px;
        }
    }

    h3 {
        color: #fff;
    }

    ul {

        display: flex;
        gap: 40px;

        li {

            font-weight: 100;
            font-size: 1.05rem;
            position: relative;
            white-space: nowrap;
    
            i {
              color: $yellow;
              width: 20px;
              height: 20px;
              text-align: center;
              font-size: 1.2rem;
              margin-right: 10px;
            }
    
            a {
                color: #b7b7b7;
                &:hover {
                    color: $yellow;
                }                     
            }

            &:after {
                position: absolute;
                content: '/';
                right: -22px;
                color: $yellow;
            }

            &:last-child:after {
                content: '';
            }
        }

    }

    @include tablet() {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px 20px;
            li {
                font-size: 1.1rem;
                i {
                    font-size: 1.1rem;
                    margin-right: 8px;
                }
                &:after {
                    display: none;
                }
            }
        }
    }
    
    @include mobile() {
        .container { 
            flex-direction: column; 
        }
        ul {
            display: flex;
            gap: 10px;
            flex-direction: column;
            li {
                font-size: 1rem;
                &:after {
                    display: none;
                }
            }
        }
    }
}