.our-goal .data p {
    width: 75%;
}
.our-goal .data h4 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 17px;
    font-family: $primary-font;
}
.our-goal .data.p2 {
    margin-top: 43px;
}
.our-goal ul {
    padding-left: 30px;
}
.our-goal ul li {
    font-size: 16px;
    line-height: 26px;
    position: relative;
}
.our-goal .data h4,
.our-goal .data ul li {
    color: #444;
}
.our-goal .data ul li:not(:last-child) {
    margin-bottom: .2rem;
}
.our-goal ul li:before {
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid #444;
    background: white;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
}
.our-goal .data .goal-img {
    padding: 30px 0;
    position: relative;
    overflow: hidden;
    isolation: isolate;
}
.our-goal .data .goal-img img {
    width: 100%;
}
.our-goal .data .goal-img:before{
    content: "";
    width: 270px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) skew(-23deg, 0deg);
    z-index: -1;
    background-color: $yellow;
    @include mobile() {
        width: 150px;
    }
}
.our-goal .data {

    position: relative;

    .goal-mov {
        position: absolute;
        width: 150px;
        height: 150px;
        bottom: 0;
        left: -20px;
        //bottom: 110px;
        //left: -105px;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -50px;
            margin-top: -35px;
            width: 100px;
            height: 71px;
            z-index: 9;
            transform: scale(80%);
        }

        @include medium-md() {
            bottom: -20px;
            transform: scale(80%);
        }

        @include medium-sm() {
            left: -35px;
            bottom: -35px;
            transform: scale(80%);            
        }

        @include mobile() {
            transform: scale(60%);
            //bottom: -30px;                      
        }
        
    }

    .video-play-btn {

        background: rgba($color: $black, $alpha: .3);
        border: 1px solid rgba($color: $yellow, $alpha: .5);
        left: 50%;
        width: 120px;
        height: 150px;                
        transform: translateY(-50%) translateX(-50%) skew(-20deg, 0deg);
        svg {
            fill: white;
            @include transition();
        }
        &:hover {
            background: $black;
            border-color: $yellow;
            svg {
                fill: $yellow;                        
            }
        }   
        @include mobile() {
            width: 60px;
            height: 80px;
        }             
    }
} 