section {
    
    &.mt-100 {
        margin-top: 100px;
        @include mobile() {
            margin-top: 0;
        }
    }

    &.light-bg-color {
        background-color: #f7f6f2;
    }

    &.success,
    &.page404 {

        .alert {
            padding: 20px;
            font-size: 1.4em;
            p {
                i {
                    font-size: 1.8em;
                    display: block;
                    margin-bottom: 10px;
                    color: $black;
                }
            }
            h2 {
                margin-bottom: 40px;
            }
        }

        .alert-msg {
            margin-bottom: 20px;
            .alert {
                padding: 10px;
                font-size: 1.2em;
            }
        }

    }

    &.privacy-policy,
    &.cookie-policy,
    &.impressum {
        h1, h2, h3, h4, h5 {
            margin-bottom: 1.4rem;
        }
        h3, h4, h5 {
            margin-top: 1.8rem;
        }
        p {
            line-height: 1.4rem;
            text-align: justify;
        }
        p:not(:last-child) {
            margin-bottom: 1rem;
        }
        ul {    

            margin-left: 2rem;

            li {
                list-style-type: disc !important;
                line-height: 1.4rem;
                margin-bottom: .8rem;
            }            
        }
        table {
            th, td {
                p {
                    margin-top: 0;
                    margin-bottom: 0 !important;
                    text-align: left;
                }
            }
        }
    }
    
    &:nth-child(2n) {
        background-color: #f7f6f2;
        /*@include mobile() {
            background-color: transparent;
        }*/
    }
}

body.light-d {
    section {
        &:nth-child(2n) {
            background-color: #171717;            
        }   

        &.privacy-policy,
        &.cookie-policy,
        &.impressum {
            h1, h2, h3, h4, h5, p, li {
                color: white;
            }            
        }
        a {
            color: $yellow;
        }
    }

}
