.contact-form-2 .data span {
    font-size: 16px;
    color: #444;
    font-family: $primary-font;
}
.contact-form-2 .data h2 {
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 5px;
}
.contact-form-2 form .row {
    margin-bottom: 20px;
}
.contact-form-2 form button:hover {
    color: $black;
}
.contact-form-2 form textarea:focus-visible {
    outline: none;
}
.contact-form-2 form input,
.contact-form-2 form textarea {
    padding-left: 20px;
    background: #fafafa;
}
.contact-form-2 form {
    margin-top: 10px;
}
.contact-form-2 .bio .data h3,
.contact-form-2 .bio .data p,
.contact-form-2 .info ul.contact li h3,
.contact-form-2 .info ul.contact li p,
.contact-form-2 .info ul.social-medias li p {
    font-size: 16px;
    line-height: 26px;
    font-family: $primary-font;
}
.contact-form-2 .bio .data h3,
.contact-form-2 .info ul.contact li h3,
.contact-form-2 .info ul.social-medias li p {
    font-weight: bold;
}
.contact-form-2 .bio .data img.author {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin-bottom: 2px;
}
.contact-form-2 .bio {
    padding: 30px 50px;
    background-color: $yellow;    
    figure {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        img {
            &.certified {
                height: 100%;
                max-width: 100px;
            }
        }
    }
}
.contact-form-2 .bio .data p {
    margin-bottom: 15px;
}
.contact-form-2 .info {
    background: $black;
    padding: 35px 40px 40px;
}
.contact-form-2 .info ul.contact li svg {
    width: 30px;
    height: 23px;
    margin-right: 20px;
    fill: $yellow;
}
.contact-form-2 .info ul.contact li h3 {
    color: white;
    margin-bottom: 5px;
}
.contact-form-2 .info ul.contact li p {
    color: #b7b7b7;
    font-weight: 600;
    a {
        color: #b7b7b7;        
    }
}
.contact-form-2 .info ul.contact li {
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
}
.contact-form-2 .info ul.contact li:not(:last-child) {
    border-bottom: 2px solid #181818;
}
.contact-form-2 .info ul.social-medias li p,
.contact-form-2 .info ul.social-medias li i {
    color: white;
}
.contact-form-2 .info ul.social-medias li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border: 1px solid #525252;
    padding: 0 30px;
}
.contact-form-2 .info ul.social-medias li i {
    font-size: 20px;
}
.contact-form-2 .info ul.social-medias li:not(:last-child) {
    margin-bottom: 10px;
}
.contact-form-2 .info ul.social-medias li .in:hover {
    background: $yellow;
    p, i {
        color: $black;
    }
}
.contact-form-2 .info ul.social-medias li .fb:hover {
    background: $yellow;
    p, i {
        color: $black;
    }
}
ul.social-medias {
    margin-top: 30px;
}

ul.dotted {
    li {
        margin-left: 18px;
        list-style-type: disc;
    }
}

body.light-d {
    ul.dotted {
        li {
            color: white;
        }
    }
}
