.client-review-style-one .head-review {
  span {
    font-size: 16px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $primary-font;
    font-weight: 900;
  }

  h3 {
    font-size: 50px;
    margin-bottom: 55px;
  }
}

.client-review-slider {
  .slider-data {
    p {
      font-size: 20px;
      line-height: 36px;
      color: #161616;
      width: 85%;
    }

    .bio {
      .icon {
        width: 72px;
        height: 60px;
        margin-right: 25px;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      .details {
        h3 {
          font-size: 24px;
          color: #161616;
          margin-bottom: 0;
          font-family: $primary-font;
          font-weight: bold;
        }

        p {
          line-height: 25px;
        }

        padding-top: 5px;
      }

      margin-top: 35px;
    }
  }

  .owl-dots {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;

    button {
      border: 1px solid #c1c1c1;
      width: 70px;
      height: 15px;
      color: transparent;

      &.active {
        background: black;
        border-color: black;
      }
    }
  }
}
