.counter-style-one .counter-data {
    border: 1px solid #c1c1c1;
    padding: 30px;
    width: 87%;
    height: 100%;
    position: relative;    
  
    &:hover {
      box-shadow: 20px 20px 13px 0px rgb(0 0 0 / 5%);
      -webkit-box-shadow: 20px 20px 13px 0px rgb(0 0 0 / 5%);
      -moz-box-shadow: 20px 20px 13px 0px rgb(0 0 0 / 5%);
    }
  
    .counttt {
      font-size: 4rem;
      color: #080808;
      font-family: $primary-font;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #080808;
      position: relative;
      line-height: 4rem;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;      
    }
  }
  
  span.odometer {
    font-weight: 900;    
    padding: 0;    
    margin-left: -15px;
  }
  
  .counter-style-one .counter-data {
    .counttt i {
      font-size: 16px;
      font-weight: 900;
      color: #161616;
      -webkit-text-fill-color: #161616;
      -webkit-text-stroke-width: 0;
      text-transform: uppercase;
      line-height: 26px;
      font-style: normal;
      margin-top: 8px;
      //margin-left: 8px;
    }
  
    h4 {
      font-size: 16px;
      font-weight: 400;
      font-family: $primary-font;
      color: #161616;
    }
  
    &:before {
      content: "";
      width: 60px;
      height: 110px;
      position: absolute;
      bottom: -20px;
      right: 0px;
      transform: skew(-23deg, 0deg);
    }
  
    &.upper-space {
      margin-top: 90px;
    }
  }
  